.active {
  border-bottom:0.4em solid #dd9933;
  font-weight: 600;
  text-transform: uppercase;
}

.card-head{
    margin-top:10px;
    font-weight:bold;
    color:#dd9933;
    font-size: 18px;
}

.card-description{
    font-weight:600; 
    font-size:14px;
    color:#000000d9 !important;
}

.card-main:hover{
    background-color: #dd9933;
    cursor: pointer;
}

.head-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-button{
    color: #dd9933;
    border-color: #dd9933;
}

.card-main:hover .card-head{color:white}

.card-main:hover .card-description{color:white !important;}

.card-main:hover .card-button{
    color:white;
    border-color: white;
}
/* .card-button:hover{
    color: #66615B !important;
    border-color: #66615B !important;
    background-color: white;
} */

.one:hover {
    border-color: #dd9933 !important;
    background-color: #dd9933 !important;
    color:#66615B;
}

.one:hover ~ .two{
    border-color: white !important;
    background-color: transparent !important;
    color:white;
}

.two{
    background-color: #dd9933 !important;
    border-color: #dd9933 !important;
    color: #666158;
}

.two:hover{
    background-color: #dd9933 !important;
    border-color: #dd9933 !important;
    color:#666158;
}

.card-middle{
    background-color: #dd9933 !important;

}

.card-middle .card-head{
    color: white;
}

.card-middle .card-description{
    color: white;
}

.author h4{
    font-weight: 500;
}

.footer-nav ul li a{
    color: white !important;
}



#about-head{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('assets/img/abouthead.jpg');
}

#academic-head{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('assets/img/abouthead.jpg');
}
#program-head{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('assets/img/abouthead.jpg');
}
#contact-head{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('assets/img/abouthead.jpg');
}
#admission-head{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('assets/img/abouthead.jpg');
}

@media (max-width:800px){
    .image-box{
        height: 220px;
        width: auto;
    }
}

@media (min-width:801px){
    .image-box{
        height: 600px;
        width: auto;
    }
}